nav {
width:100%;
background-color:white;
height:40px;
}
body {
	font-family: 'Times New Roman', Times, serif;
	font-size: medium;
	width: 100%;
}

body #main {
	position: sticky;
	top: 0;
}

h1 {
	display: block;
	font-family: "Arial";
	font-size: xx-large;
	background: #645853;
	color:#ffffff;
    width: auto;
	text-align:center;
	padding: 1rem;
}
h2 {
	display: block;
	font-family: "Arial";
	font-size: x-large;
	margin-bottom: 3rem;
}

main {
	margin: 1rem 8rem;
	width: auto;
	width: fit-content;
}
p {
	margin-bottom: 1rem;
}

section {
	padding-bottom: 2rem;
}

figcaption {
	font-family: "Arial";
	font-size: small;
}

#people p {
	text-align: left;
}

#mainmenu li a { /* rule for the a-element */
	text-decoration: none;
	color: black;
	padding:5px 10px;
}

#mainmenu {
	display: flex;
	justify-content: center;
	background-color:white;
	height:fit-content;
}

#mainmenu ul{
	list-style:none;
}

#mainmenu ul li{
	display: inline-block;
	color:black;
}

#mainmenu ul li:hover, nav ul li a:focus  {
	background-color: #e2dfdf;
	font-weight: bold;
	letter-spacing: 0.15rem;
	outline: none;
}

img{
	max-width: 100%;
	max-height: 100%;
}

object {
	width: 40rem;
	height: 20rem;
}

header{
	text-align: center;
}
header img {
	padding: 2rem;
}

footer {
	position: sticky;
	position: -webkit-sticky;
	bottom: 0;
	display: block;
	font-family: "Arial";
	font-size: small;
	background: #645853;
	color:#ffffff;
	text-align:center;
	padding: 1rem;
}